// GENERAL
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

.flex{
    display:flex;
}

.hidden{
    display: none;
}

// COULEURS
$primary-color: #901C1C;
$secondary-color: #D3573C;

// VERSION DESKTOP
// MAIN
main{

    #photographer-banner{
        background-color: rgb(243, 243, 243);
        display: flex;
        flex-direction: column;
        padding:3.5em 3em;
        height: auto;
        margin-top:2em;
        
        #contact{
            background-color: $primary-color;
            color: white;
            border: none;
            border-radius: 0.3em;
            padding: 1em 0.5em;
            font-size: 1em;
            cursor: pointer;
            position: absolute;
            width: 10em;
            height: auto;
            top:11em;
            margin-left: 45vw;
            z-index:1;
        }

        #contact:hover{
            color: black;
            background-color: $secondary-color;
        }

        img{
            height:12em;
            width: 12em;
            object-fit: cover;
            overflow: hidden;
            border-radius: 10em;
            box-shadow: 0px 3px 10px grey; ;
            position: absolute;
            right:7em;
            vertical-align: middle;
        }

        h1{
            margin: 0;
            padding: 0;
            font-weight: 300;
            font-size: 3.5em;
            color: $secondary-color;
            width: 40vw;
        }

        .location{
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-size: 1.5em;
            color:$primary-color;
        }

        .tagline{
            margin: 0;
            padding: 1em 0em;
            font-weight: 100;
            font-size: 1em;
            color: rgb(88, 88, 88);
        }

        .filter{
            margin: 0;
            margin-top:0.5em;
            padding: 0;
            display: flex;
            list-style-type: none;

            li{
                margin-right: 5px;
                padding:0px 7px;
                border: 1px solid lightgrey;
                border-radius: 1em;
                font-size: 0.8em;
                font-weight: 500;
                color:$primary-color;
            }
        }
    }

    #infos-window{
        width: 200px;
        height: 30px;
        padding: 10px 30px;
        background-color: $secondary-color;
        border-radius: 0.2em;
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: fixed;
        bottom: 0;
        right:10px;
        font-size: 1.1em;
        z-index:1;
    
        #all-likes:after{
            content: "\2665";
            font-family: system-ui;
        }
    }

    .media-filters{
        padding: 0;
        margin: 0;
        display: flex;

        p{
            font-weight: bold;
            align-self: center;
        }

        #select-filters {
            background-color: $primary-color;
            border: none;
            border-radius: 0.2em;
            padding: 0.5em 0em;
            padding-left: 0.3em;
            margin: 1em;
            color:white;
            font-size: 1em;

            option {
                border-radius: 0.2em;
                padding: 1em;
                font-size: 1em;
            }
        }
    }

    #media-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom:3em;
        width: 100%;

        .media-piece{
            width: 31%;

            .media-content{
                width: 100%;
                border:none;
                background-color: transparent;

                img, video{
                    height:21em;
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                    padding: 0;
                    margin: 0;
                    border-radius: 0.3em;
                    cursor: pointer;
                }

            }

            .info{
                display: flex;
                position: relative;
                margin-bottom:1em;
                margin-top:0;
                justify-content: space-between;

                h2{
                    margin: 0;
                    padding: 0;
                    font-weight: 100;
                    font-size: 1em;
                    color:$primary-color;
                    width: 14em;
                }

                #likes-info{
                    color:$primary-color;

                    #heart{
                        cursor: pointer;
                        font-family: system-ui;
                        font-size: 1em;
                        color: $primary-color;
                        border: none;
                        background-color: transparent;
                        padding: 0;
                    }

                    #heart:before{
                        content: attr(data-before);
                        position: absolute;
                    }
                }
            }
        }
    }
}

.lightbox{
    position:fixed;
    z-index: 1000;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;

    #lightbox-previous-button{
        order:1;
        background: url('https://raw.githubusercontent.com/Mimi1706/HanNguyen_6_021121/main/content/general/arrow.svg') center center / 100% 100%;
        width: 25px;
        height: 30px;
        border: none;
        cursor: pointer;
        transform: rotate(180deg);
        text-indent: -10000px;
    }

    #lightbox-next-button{
        order:3;
        background: url('https://raw.githubusercontent.com/Mimi1706/HanNguyen_6_021121/main/content/general/arrow.svg') center center / 100% 100%;
        width: 25px;
        height: 30px;
        border: none;
        cursor: pointer;
        text-indent: -10000px;
    }

    #lightbox-close-button{
        position: fixed;
        background: url('https://raw.githubusercontent.com/Mimi1706/HanNguyen_6_021121/4d204a5fd7b4f2367c00c9c9b4e0723cb802a1d9/content/general/closebutton.svg') center center / 100% 100%;
        width: 20px;
        height: 20px;
        top:20px;
        right:15px;
        border: none;
        cursor: pointer;
        text-indent: -10000px;
    }

    .lightboxContent{
        flex-direction: column;
        order:2;

        .lightboxMedia{
            padding-top:0.2em;
            font-weight: 300;
            font-size: 1.3em;
            color: $primary-color;
            padding-right: 0.5em;
            padding-left: 0.5em;
    
            img,video{
                max-width: 80vw;
                max-height: 85vh;
                object-fit: scale-down;
                border-right: 4px solid lightgrey;
                border-radius: 0.2em;
                margin-bottom: 0.2em;
            }
        }
    
        h1{
            color: $primary-color;
            font-size:1.3em;
            font-weight: 100;
            padding: 0;
            padding-left:0.5em;
            margin:0;
        }
    }
}


// FORMULAIRE
#form-bg{
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: auto;
    padding:0;
    margin: 0;
    top:0;
    left: 0;
    position: absolute;
    opacity: 0.4;
    display: none;
    z-index:2;
}

#form{
    background-color: $secondary-color;
    padding: 1em 1.5em;
    width: 450px;
    margin: 2em auto;
    border-radius: 0.3em;
    position: absolute;
    left: 0;
    right: 0;
    top:1em;
    box-shadow: -3px 3px 15px grey; 
    display: none;
    z-index:3;

    .close-btn{
        background: url('https://raw.githubusercontent.com/Mimi1706/HanNguyen_6_021121/main/content/general/closeformbutton.svg') center center / 100% 100%;
        height: 30px;
        width: 30px;
        position: absolute;
        overflow: hidden;
        right:20px;
        top:20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    h1{
        margin:0;
        padding:0;
        padding-bottom:0.5em;
        font-weight: 200;
    }

    div{
        width: 100%;
        padding: 0em;
        margin: 0em;

        label{
            font-size: 1.3em;
            color:rgb(12, 12, 12);
        }

        input{
            width: 100%;
            height: auto;
            margin-bottom:0.5em;
            border:none;
            border-radius:0.2em;
            font-size: 1.2em;
            padding: 0.5em;
            box-sizing: border-box;  
        }
    }

    div:nth-child(5){
        textarea{
            resize: none;
            width: 100%;
            height: 6em;
            border-radius: 0.2em;
            padding: 0.2em 0.5em;
            border:none;
            box-sizing: border-box;  
            font-size: 1.2em;
            font-family: DM Sans;
        }
    }

    .submit-btn{
        background-color: $primary-color;
        padding:1.3em 2.7em;
        border-radius: 0.3em;
        border:none;
        color:white;
        font-size: 0.8em;
        margin-top:1em;
        margin-bottom:1em;
        cursor: pointer;
    }
}

// VERSION MOBILE
@media (max-width: 700px){

    // MAIN - VERSION MOBILE
    main{

        #photographer-banner{
            background-color: white;
            padding:0;
            margin-bottom:3em;
            height: 9em;

            #contact{
                padding: 0.7em 0.5em;
                font-size: 1em;
                position: fixed;
                height: 2.5em;
                left:0;
                right:0;
                margin: auto;
                bottom: 15px;
                top:auto;
            }

            img{
                height:8.5em;
                width: 8.5em;
                right:1.8em;
            }

            h1{
                font-size: 2.3em;
                width: 55vw;
                line-height: 1em;
                margin-bottom: 0.2em;
            }

            .location{
                font-size: 1em;
                width: 50vw;
            }

            .tagline{
                font-size: 1em;
                padding: 0.2em 0;
                width: 50vw;
            }

            .filter{
                width: 55vw;
                flex-wrap: wrap;

                li{
                    margin-bottom: 0.5em;
                }
            }
        }

        #infos-window{
            display: none;
        }

        .media-filters{
            display: none;
        }

        #media-section{
            justify-content: center;
            width: 100%;
            margin-bottom:2em;

            .media-piece{
                width: 100%;

                img, video{
                    height:14em;
                }
            }
        }
    }

    // FORMULAIRE - VERSION MOBILE
    #form{
        box-sizing: border-box; 
        top:0;
        margin:0;
        width: auto;
        height: 100%;
        border-radius: 0;
        resize: none;
    
        h1{
            margin:0;
            padding:0;
            padding-bottom:0.5em;
            font-weight: 200;
        }
    
        div{
            input{
                margin-bottom:0.7em;
                margin-top:0.4em;
            }
        }
    
        div:nth-child(5){
            textarea{
                margin-top:0.4em;
                height: 9em;
            }
        }
    
        .submit-btn{
            margin-left: auto;
            margin-right: auto;
            margin-top:2em;
            right:0;
            left:0;
            position: absolute;
            padding:0.5em 2.7em;
        }
    }
}

// VERSION TABLETTE
@media (min-width: 701px) and (max-width:1100px){

    // MAIN - VERSION TABLETTE
    main{

        #photographer-banner{

            #contact{
                padding: 0.7em 0.5em;
                font-size: 1em;
                position: fixed;
                margin: auto;
                bottom: 10px;
                height: 2.5em;
                left:0;
                right:0;
                bottom: 15px;
                top:auto;
            }

            img{
                right:4em;
            }

            h1{
                font-size: 3em;
                width: 50vw;
            }
        }   

        #infos-window{
            display: none;
        }

        #media-section{
            width: 100%;
            margin-bottom:3em;

            .media-piece{
                width: 48%;

                img, video{
                    height:30vw;
                }
            }
        }
    }

    // FORMULAIRE - VERSION MOBILE
    #form{
        margin-top:1em;
    }
}