@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
.flex {
  display: flex;
}

.hidden {
  display: none;
}

main #photographer-banner {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 3.5em 3em;
  height: auto;
  margin-top: 2em;
}
main #photographer-banner #contact {
  background-color: #901C1C;
  color: white;
  border: none;
  border-radius: 0.3em;
  padding: 1em 0.5em;
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  width: 10em;
  height: auto;
  top: 11em;
  margin-left: 45vw;
  z-index: 1;
}
main #photographer-banner #contact:hover {
  color: black;
  background-color: #D3573C;
}
main #photographer-banner img {
  height: 12em;
  width: 12em;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10em;
  box-shadow: 0px 3px 10px grey;
  position: absolute;
  right: 7em;
  vertical-align: middle;
}
main #photographer-banner h1 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 3.5em;
  color: #D3573C;
  width: 40vw;
}
main #photographer-banner .location {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 1.5em;
  color: #901C1C;
}
main #photographer-banner .tagline {
  margin: 0;
  padding: 1em 0em;
  font-weight: 100;
  font-size: 1em;
  color: #585858;
}
main #photographer-banner .filter {
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  display: flex;
  list-style-type: none;
}
main #photographer-banner .filter li {
  margin-right: 5px;
  padding: 0px 7px;
  border: 1px solid lightgrey;
  border-radius: 1em;
  font-size: 0.8em;
  font-weight: 500;
  color: #901C1C;
}
main #infos-window {
  width: 200px;
  height: 30px;
  padding: 10px 30px;
  background-color: #D3573C;
  border-radius: 0.2em;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 10px;
  font-size: 1.1em;
  z-index: 1;
}
main #infos-window #all-likes:after {
  content: "♥";
  font-family: system-ui;
}
main .media-filters {
  padding: 0;
  margin: 0;
  display: flex;
}
main .media-filters p {
  font-weight: bold;
  align-self: center;
}
main .media-filters #select-filters {
  background-color: #901C1C;
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 0em;
  padding-left: 0.3em;
  margin: 1em;
  color: white;
  font-size: 1em;
}
main .media-filters #select-filters option {
  border-radius: 0.2em;
  padding: 1em;
  font-size: 1em;
}
main #media-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3em;
  width: 100%;
}
main #media-section .media-piece {
  width: 31%;
}
main #media-section .media-piece .media-content {
  width: 100%;
  border: none;
  background-color: transparent;
}
main #media-section .media-piece .media-content img, main #media-section .media-piece .media-content video {
  height: 21em;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border-radius: 0.3em;
  cursor: pointer;
}
main #media-section .media-piece .info {
  display: flex;
  position: relative;
  margin-bottom: 1em;
  margin-top: 0;
  justify-content: space-between;
}
main #media-section .media-piece .info h2 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 1em;
  color: #901C1C;
  width: 14em;
}
main #media-section .media-piece .info #likes-info {
  color: #901C1C;
}
main #media-section .media-piece .info #likes-info #heart {
  cursor: pointer;
  font-family: system-ui;
  font-size: 1em;
  color: #901C1C;
  border: none;
  background-color: transparent;
  padding: 0;
}
main #media-section .media-piece .info #likes-info #heart:before {
  content: attr(data-before);
  position: absolute;
}

.lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox #lightbox-previous-button {
  order: 1;
  background: url("https://raw.githubusercontent.com/Mimi1706/HanNguyen_6_021121/main/content/general/arrow.svg") center center/100% 100%;
  width: 25px;
  height: 30px;
  border: none;
  cursor: pointer;
  transform: rotate(180deg);
  text-indent: -10000px;
}
.lightbox #lightbox-next-button {
  order: 3;
  background: url("https://raw.githubusercontent.com/Mimi1706/HanNguyen_6_021121/main/content/general/arrow.svg") center center/100% 100%;
  width: 25px;
  height: 30px;
  border: none;
  cursor: pointer;
  text-indent: -10000px;
}
.lightbox #lightbox-close-button {
  position: fixed;
  background: url("https://raw.githubusercontent.com/Mimi1706/HanNguyen_6_021121/4d204a5fd7b4f2367c00c9c9b4e0723cb802a1d9/content/general/closebutton.svg") center center/100% 100%;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 15px;
  border: none;
  cursor: pointer;
  text-indent: -10000px;
}
.lightbox .lightboxContent {
  flex-direction: column;
  order: 2;
}
.lightbox .lightboxContent .lightboxMedia {
  padding-top: 0.2em;
  font-weight: 300;
  font-size: 1.3em;
  color: #901C1C;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.lightbox .lightboxContent .lightboxMedia img, .lightbox .lightboxContent .lightboxMedia video {
  max-width: 80vw;
  max-height: 85vh;
  object-fit: scale-down;
  border-right: 4px solid lightgrey;
  border-radius: 0.2em;
  margin-bottom: 0.2em;
}
.lightbox .lightboxContent h1 {
  color: #901C1C;
  font-size: 1.3em;
  font-weight: 100;
  padding: 0;
  padding-left: 0.5em;
  margin: 0;
}

#form-bg {
  width: 100%;
  height: 100vh;
  background-color: white;
  margin: auto;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.4;
  display: none;
  z-index: 2;
}

#form {
  background-color: #D3573C;
  padding: 1em 1.5em;
  width: 450px;
  margin: 2em auto;
  border-radius: 0.3em;
  position: absolute;
  left: 0;
  right: 0;
  top: 1em;
  box-shadow: -3px 3px 15px grey;
  display: none;
  z-index: 3;
}
#form .close-btn {
  background: url("https://raw.githubusercontent.com/Mimi1706/HanNguyen_6_021121/main/content/general/closeformbutton.svg") center center/100% 100%;
  height: 30px;
  width: 30px;
  position: absolute;
  overflow: hidden;
  right: 20px;
  top: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#form h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
  font-weight: 200;
}
#form div {
  width: 100%;
  padding: 0em;
  margin: 0em;
}
#form div label {
  font-size: 1.3em;
  color: #0c0c0c;
}
#form div input {
  width: 100%;
  height: auto;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.2em;
  padding: 0.5em;
  box-sizing: border-box;
}
#form div:nth-child(5) textarea {
  resize: none;
  width: 100%;
  height: 6em;
  border-radius: 0.2em;
  padding: 0.2em 0.5em;
  border: none;
  box-sizing: border-box;
  font-size: 1.2em;
  font-family: DM Sans;
}
#form .submit-btn {
  background-color: #901C1C;
  padding: 1.3em 2.7em;
  border-radius: 0.3em;
  border: none;
  color: white;
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

@media (max-width: 700px) {
  main #photographer-banner {
    background-color: white;
    padding: 0;
    margin-bottom: 3em;
    height: 9em;
  }
  main #photographer-banner #contact {
    padding: 0.7em 0.5em;
    font-size: 1em;
    position: fixed;
    height: 2.5em;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 15px;
    top: auto;
  }
  main #photographer-banner img {
    height: 8.5em;
    width: 8.5em;
    right: 1.8em;
  }
  main #photographer-banner h1 {
    font-size: 2.3em;
    width: 55vw;
    line-height: 1em;
    margin-bottom: 0.2em;
  }
  main #photographer-banner .location {
    font-size: 1em;
    width: 50vw;
  }
  main #photographer-banner .tagline {
    font-size: 1em;
    padding: 0.2em 0;
    width: 50vw;
  }
  main #photographer-banner .filter {
    width: 55vw;
    flex-wrap: wrap;
  }
  main #photographer-banner .filter li {
    margin-bottom: 0.5em;
  }
  main #infos-window {
    display: none;
  }
  main .media-filters {
    display: none;
  }
  main #media-section {
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
  }
  main #media-section .media-piece {
    width: 100%;
  }
  main #media-section .media-piece img, main #media-section .media-piece video {
    height: 14em;
  }

  #form {
    box-sizing: border-box;
    top: 0;
    margin: 0;
    width: auto;
    height: 100%;
    border-radius: 0;
    resize: none;
  }
  #form h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
    font-weight: 200;
  }
  #form div input {
    margin-bottom: 0.7em;
    margin-top: 0.4em;
  }
  #form div:nth-child(5) textarea {
    margin-top: 0.4em;
    height: 9em;
  }
  #form .submit-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    right: 0;
    left: 0;
    position: absolute;
    padding: 0.5em 2.7em;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  main #photographer-banner #contact {
    padding: 0.7em 0.5em;
    font-size: 1em;
    position: fixed;
    margin: auto;
    bottom: 10px;
    height: 2.5em;
    left: 0;
    right: 0;
    bottom: 15px;
    top: auto;
  }
  main #photographer-banner img {
    right: 4em;
  }
  main #photographer-banner h1 {
    font-size: 3em;
    width: 50vw;
  }
  main #infos-window {
    display: none;
  }
  main #media-section {
    width: 100%;
    margin-bottom: 3em;
  }
  main #media-section .media-piece {
    width: 48%;
  }
  main #media-section .media-piece img, main #media-section .media-piece video {
    height: 30vw;
  }

  #form {
    margin-top: 1em;
  }
}

/*# sourceMappingURL=photographers.css.map */
